[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
numpy = "*"
scikit-learn = "==1.0.0"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
